<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
</head>
<body>
        <h1>DAYID ESTEBAN MADERA PAEZ 1114</h1>
        <nav>
    <a href="/">Inicio</a>
    <a href="/recursos">Recursos</a>
    <a href="/contacto">contacto</a>
    <a href="/acerca">acerca de</a>
    <li><a href="/inscripcion">Inscripcion</a></li>
    <li><a href="/login">Login</a></li>
</nav>
    <h1>contacto</h1>
    <p>este es mi contacto</p>
</body>
</html>
