{% extends "base.html" %}

{% block title %}Editar Tarea{% endblock %}

{% block content %}
<div class="content-card">
    <h1 style="color: var(--primary-color);" class="mb-4">Editar Tarea</h1>

    <form method="POST">
        <label class="form-label fw-bold">Titulo:</label>
        <input type="text" name="titulo" value="{{ tarea.titulo }}" class="form-control" required>
        <br><br>

        <label class="form-label fw-bold">Descripcion:</label>
        <textarea name="descripcion" rows="5" class="form-control" required>{{ tarea.descripcion }}</textarea>
        <br><br>

        <label class="form-label fw-bold">Fecha de Entrega:</label>
        <input type="date" name="fecha_entrega" value="{{ tarea.fecha_entrega }}" class="form-control" required>
        <br><br>

        <button type="submit" class="btn btn-dark">Guardar Cambios</button>
        <a href="/mis-tareas" class="text-decoration-none">
            <button type="button" class="btn btn-secondary">Cancelar</button>
        </a>
    </form>
</div>
{% endblock %}