<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mi plimel tablajo</title>
  </head>
  <body>
    <!--
      Esta pagina es muy simple a proposito.
      La idea es que el alumno pueda leerla sin perderse.
    -->
    <h1>DAYID ESTEBAN MADERA PAEZ 1114</h1>
    <h2>Bienvenidos a la clase del profe Henry by Kyrbot</h2>
    <nav>
    <a href="/">Inicio</a>
    <a href="/recursos">Recursos</a>
    <a href="/contacto">contacto</a>
    <a href="/acerca">acerca de</a>
</nav>
    <p>
      Si estas viendo esto, ya diste un primer paso en programacion: tu
      aplicacion esta corriendo y Flask pudo mostrar una pagina HTML.
    </p>

    <p>
      Hoy empezamos simple, pero con una idea poderosa: cada gran programa
      arranca con una primera linea de codigo. Este puede ser el comienzo de
      algo enorme.
    </p>

    <hr />

    <p>Primer objetivo cumplido: crear el entorno y levantar el servidor.</p>

      <p>HOLA MI NOMBRE ES YO</p>
  </body>
</html>
